header
  div
    h1 Patrick Grasso
  ul
    if contact.email
      li
        a.contact-info(
          href="mailto:" + contact.email
          target="_blank"
          class="contact-info"
        ) #{contact.email}
        i.fa.fa-envelope
    if contact.phone
      li
        span.contact-info #{contact.phone}
        i.fa.fa-phone
    if contact.github
      li
        a.contact-info(
          href="https://github.com/" + contact.github
          target="_blank"
          class="contact-info"
        ) #{contact.github}
        i.fa.fa-github
    if contact.address1 && contact.address2
      li
        span.contact-info
          p #{contact.address1}
          p #{contact.address2}
        i.fa.fa-home
